body{
    background: black;
}
.post{
    background: white;
    width: 400px;
    height: 650px;
    margin:40px 400px;
    box-sizing: border-box;
    align-items:center;
    font-family: 'Roboto', sans-serif;
}
.post-head{
    display:flex;
    float:left;
    padding-left: 15px;
}
.icons{
    padding-left:15px;
}
.ellipsis{
    position: right;
    float:right;
    margin-left: 270px;
    margin-top: 5px;
}
.head1{
    margin-top: 2px;
}
.rigoberto{
    margin-top: 15px;
    margin-left: 8px;
}
.envelope{
    display: flex;
    float: right;
    padding-right: 5px;
}
.description, .comments{
    text-align:left;
    margin: 15px;
}